<h1>Admin Shelters</h1>

<div id='all-shelters'>
  <%= render partial: 'shelters', locals: { shelters: @shelters } %>
</div>

<h2>Shelters with Pending Applications:</h2>
<div id='pending-apps'>
  <%= render partial: 'shelters', locals: { shelters: @pending_shelters } %>
</div>
