<h1><%= @shelter.formatted_info %></h1>
<h2>Statistics</h2>
<p>The average age of adoptable pets is <%= @shelter.average_adoptable_age %> years old.</p>
<p>There is <%= @shelter.number_adoptable %> pet available for adoption.</p>
